# Dependencies
node_modules/

# Build
dist/
coverage/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Mongo memory server
.cache/
mongodb-binaries/
